.characters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background: teal;
  padding: 15px;
}

.character {
  text-align: center;
  color: white;
}

.character img {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  border: 2px solid black;
}

.character-modal {
  position: fixed;
  width: 400px;
  height: 60vh;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
}

.character-modal h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.character-modal img {
  width: 150px;
  height: 150px;
  background: gray;
  margin: 0 auto;
  border-radius: 50%;
}

.character-modal .close {
  position: absolute;
  right: 15px;
  top: 15px;
}
